@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html {
    font-family: 'Roboto Mono', monospace;

}

body {
    margin: 88px 0 0 0;
    padding: 0;
}

main {
    overflow: auto;
}

a {
    color: #E91E63;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans JP', sans-serif;
}

table {
    border: 1px solid #E91E63;
    color: #E91E63;
    border-radius: 8px;
}

td,
th {
    border-bottom: 1px solid #FCE4EC;
    line-height: 44px;
    padding: 4px 24px;
}

tbody>tr:last-child>td {
    border-bottom: 0;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

table tr:hover td {
    background: #FCE4EC;
}

/** Geral **/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.inicio .header {
    background-color: transparent;
}

.header a {
    float: left;
    color: #131313;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
}


.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: #131313;
}

.header a:active {
    background-color: #b2b2b2;
}

.header a.pg-ativa {
    background-color: #ff2d55;
    color: white;
}

.header-right {
    float: right;
    padding: 0 18px;
}

.inicio .header {
    animation: 1s ease-out 0s 1 DeslizaPraBaixo;
}

.inicio .welcome-hero h3 {
    opacity: 0;
    animation: 1s ease-out 700ms 1 DeslizaPraBaixo;
    animation-fill-mode: forwards;
}

.inicio .welcome-hero h2 {
    opacity: 0;
    animation: 1s ease-out 1s 1 DeslizaPraBaixo;
    animation-fill-mode: forwards;
}

/* Olha só esse efeito ao carregar página inicial somente com CSS!
Eu já sabia que você iria verificar se eu usei JavaScript:P */
@keyframes DeslizaPraBaixo {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.flex {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;

}

.flex.esquerda {
    justify-content: left;
}

.flex.centro {
    justify-content: center;
}


.flex h3 {
    margin-top: 0;
}

.mt {
    margin-top: 48px !important;
}

/** Página principal **/

body.inicio {
    margin: 0
}

.inicio {
    background-image: url(img/dev-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Suporte para efeito de fade escuro no início do carregamento */
.inicio::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: hsl(0deg 0% 0%);
    animation: 3s ease-out 0s 1 Escurece;
    animation-fill-mode: forwards;
}


/* Faz a transição do preto para trasnparente para um efeito mais impactante */
@keyframes Escurece {
    0% {
        background: hsl(0deg 0% 0%);
    }

    100% {
        background: transparent;
    }
}


.inicio .header a {
    color: white;
}

.inicio .header a:hover {
    background-color: rgb(0 0 0 / 20%);
    backdrop-filter: blur(10px);
    color: white;
}

.inicio .header a:active {
    background-color: rgb(0 0 0 / 0.15);
}

.inicio .header a.pg-ativa {
    background-color: #ff2d55;
    color: white;
}

.welcome {
    padding: 0 80px;
    height: 100%;
}

.welcome h3 {
    color: rgb(255 255 255 / 0.8);
    margin-bottom: 0;
    font-size: 48px;
    max-width: 750px;
}

.welcome h2 {
    font-family: 'Roboto Mono', monospace;
    color: rgb(255 255 255 / 0.8);
    font-size: 28px;
    font-weight: normal;
    max-width: 600px;
}


/** Página do perfil **/

.container {
    color: #E91E63;
    background: #e91e6314;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 10px 22px #e91e6317;
    border: 1px solid #e91e6326;
}

.perfil-info div {
    padding: 24px;
}

.img-perfil img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    box-shadow: 0 4px 7px 1px #00000040;
}